
@import 'https://fonts.googleapis.com/css?family=Droid+Serif|Merriweather|Playfair+Display|Rokkitt|Yatra+One';
font-family: 'Merriweather', serif;
font-family: 'Droid Serif', serif;
font-family: 'Playfair Display', serif;
font-family: 'Yatra One', cursive;
font-family: 'Rokkitt', serif;
h1{
color: darkblue;
background-color:skyblue;
  margin-left: 25px;
  font-family: 'Rokkitt', serif;
}
img{
margin-left: auto;
margin-right: auto;
display: block;
//border-color:darkblue
}
h3{
text-color:darkslateblue;
background-color:slateblue;
font-family: 'Rokkitt', serif;
font-size: 28px
}
#this-is-different{
  color:darkblue;
  font-family: 'Yatra One', cursive;
}
#not-this-one{
//color:darkblue;
//font-family:sans-serif;;
display:block;
margin: auto;
text-align: center;
}
h4{
text-color:mediumpurple;
background-color:silver;
margin: auto;
display:inline;
text-align: center;
font-family: 'Yatra One', cursive;
}
p{
  color:darkblue;
  background-color:darkgrey;
  font-family:'Merriweather', serif;
  font-size: 18px;
  margin: auto;
  display:block;
  text-align:center;
}
a{
  background-color:plum;
  font-family:sans-serif;
}
body{
  /*background-color:lightsteelblue;*/
  background-image: url(http://cdn.paper4pc.com/images/above-the-clouds-wallpaper-12.jpg)}

#nope
{font size:14px;}
#home_page {
background-image: url(https://wallpaperscraft.com/image/sky_clouds_light_multicolored_10659_1920x1080.jpg)
}
ul{
  font-family:'Yatra One', cursive;
  font-size: 18px;
  margin:auto
  display:inline;
}
li{
  font-family: 'Merriweather', serif;
  font-size: 16px;
  margin:auto;
}
h5{
  font-size: 12px;
  background-color:lightblue
}
