

h1{
  //color: darkblue;
  //background:skyblue;
  margin-left: 25px;
  font-family: monospace;
}
img{
margin-left: auto;
margin-right: auto;
display: block;
//border-color:darkslateblue
}
h3{
//text-color:darkslateblue;
//background-color;plum;
}
this-is-different{
  text-color:skyblue;
}
not-this-one{
//text-color:purple;
//font-family:sans-serif;;
display:block;
margin: auto;
text-align: center;
}
h4{
text-color:mediumpurple;
background-color:silver;
margin: auto;
display:inline;
text-align: center;
}
p{
  color:darkblue;
  background-color:plum;
  font-family:cursive;
  margin: auto;
  display: inline;
  text-align: left;
}
a{
  background-color:plum;
  font-family:sans-serif;
}
body{
  background-color:lightsteelblue;
}
